<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Applicant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="profile_pg">
{{>header user=user}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>applicant_tab_link active='applicant_account'}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <form class="form_wrap" id="jsApplicantEditForm">
                        <div class="name_info_sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img_wrap">
                                        {{#if data.photo}}
                                            <img src="/api/applicant/photo/{{data.photo}}"
                                                 class="img_sec js_img_pre_holder">
                                        {{else}}
                                            <img src="/img/user_icon.svg"
                                                 class="img_sec js_img_pre_holder">
                                        {{/if}}
                                        <input type="file" class="js_input_profile_file" accept="image/*">
                                        <input type="hidden" class="js_existing_profile_photo" accept="image/*"
                                               value="{{data.photo}}">
                                        <div class="icon_wrap">
                                            <span class="fa fa-pencil"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="name_txt">
                                        {{data.name}}
                                    </div>
                                    <div class="designation">
                                        {{#if data.designation}}
                                            {{data.designation}},
                                            {{data.exp_year}}.{{data.exp_month}}yrs Exp
                                        {{else}}
                                            {{data.qualification}}
                                            {{data.institution}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_sec">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_name required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name"
                                                   value="{{data.name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpYear"
                                                            class="form-control js_select2 js_exp_year">
                                                        <option value="0"
                                                            {{#ifCond data.exp_year '===' '0'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            0 Years
                                                        </option>
                                                        <option value="1"
                                                            {{#ifCond data.exp_year '===' '1'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            1 Years
                                                        </option>
                                                        <option value="2"{{#ifCond data.exp_year '===' '2'}}
                                                                selected{{/ifCond}}>2 Years
                                                        </option>
                                                        <option value="3"
                                                            {{#ifCond data.exp_year '===' '3'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            3 Years
                                                        </option>
                                                        <option value="4"
                                                            {{#ifCond data.exp_year '===' '4'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            4 Years
                                                        </option>
                                                        <option value="5"
                                                            {{#ifCond data.exp_year '===' '5'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            5 Years
                                                        </option>
                                                        <option value="6"
                                                            {{#ifCond data.exp_year '===' '6'}}
                                                                selected
                                                            {{/ifCond}}>
                                                            6 Years
                                                        </option>
                                                    </select>
                                                    <img src="/img/icons/arrow-down-dark.svg" alt=""
                                                         class="arrow_down">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpMonth"
                                                            class="form-control js_exp_month js_select2">
                                                        <option value="0"
                                                            {{#ifCond data.exp_month '===' '0'}}
                                                                selected
                                                            {{/ifCond}}>0 Months
                                                        </option>
                                                        <option value="1"
                                                            {{#ifCond data.exp_month '===' '1'}}
                                                                selected
                                                            {{/ifCond}}>1 Months
                                                        </option>
                                                        <option value="2"
                                                            {{#ifCond data.exp_month '===' '2'}}
                                                                selected
                                                            {{/ifCond}}>2 Months
                                                        </option>
                                                        <option value="3"
                                                            {{#ifCond data.exp_month '===' '3'}}
                                                                selected
                                                            {{/ifCond}}>3 Months
                                                        </option>
                                                        <option value="4"
                                                            {{#ifCond data.exp_month '===' '4'}}
                                                                selected
                                                            {{/ifCond}}>4 Months
                                                        </option>
                                                        <option value="5"
                                                            {{#ifCond data.exp_month '===' '5'}}
                                                                selected
                                                            {{/ifCond}}>5 Months
                                                        </option>
                                                        <option value="6"
                                                            {{#ifCond data.exp_month '===' '6'}}
                                                                selected
                                                            {{/ifCond}}>6 Months
                                                        </option>
                                                        <option value="7"
                                                            {{#ifCond data.exp_month '===' '7'}}
                                                                selected
                                                            {{/ifCond}}>7 Months
                                                        </option>
                                                        <option value="8"
                                                            {{#ifCond data.exp_month '===' '8'}}
                                                                selected
                                                            {{/ifCond}}>8 Months
                                                        </option>
                                                        <option value="9"
                                                            {{#ifCond data.exp_month '===' '9'}}
                                                                selected
                                                            {{/ifCond}}>9 Months
                                                        </option>
                                                        <option value="10"
                                                            {{#ifCond data.exp_month '===' '10'}}
                                                                selected
                                                            {{/ifCond}}>10 Months
                                                        </option>
                                                        <option value="11"
                                                            {{#ifCond data.exp_month '===' '11'}}
                                                                selected
                                                            {{/ifCond}}>11 Months
                                                        </option>
                                                    </select>
                                                    <img src="/img/icons/arrow-down-dark.svg" alt=""
                                                         class="arrow_down">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 js_fresh_detail_sec {{#if data.qualification}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Qualification</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_qualification"
                                                   autocomplete="nope" placeholder="Highest academic qualification"
                                                   value="{{data.qualification}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.designation}}{{else}}hide{{/if}} ">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Designation</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_designation"
                                                   autocomplete="nope" placeholder="Mention about your role"
                                                   value="{{data.designation}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.company}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_company"
                                                   autocomplete="nope" placeholder="Enter your company's name"
                                                   value="{{data.company}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.current_salary}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Current Annual Salary</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_cur_salary"
                                                   autocomplete="nope" placeholder="Enter Amt in No.s only"
                                                   value="{{data.current_salary}}">
                                            <span class="inr_txt">INR</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group {{#if
                                            data.expected_salary}}{{else}}hide{{/if}}">
                                        <label class="control-label">Expected Annual Salary</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_anual_salary"
                                                   autocomplete="nope" placeholder="Enter Amt in No.s only"
                                                   value="{{data.expected_salary}}">
                                            <span class="inr_txt">INR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 js_fresh_detail_sec {{#if data.institution}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Institution</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_institution"
                                                   autocomplete="nope"
                                                   placeholder="Last academic institution attended"
                                                   value="{{data.institution}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Gender</label>
                                        <div class="box_sec">
                                            <select class="form-control js_gender required js_select2">
                                                <option value="male"
                                                        {{#ifCond data.gender '===' 'male'}}selected{{/ifCond}}>Male
                                                </option>
                                                <option value="female"
                                                        {{#ifCond data.gender '===' 'female'}}selected{{/ifCond}}>
                                                    Female
                                                </option>
                                            </select>
                                            <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Contact No.</label><a href=""
                                                                                           class="verify_link">VERIFY</a>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box_sec">
                                                    <select class="form-control js_mobile_code required js_select2">
                                                        <option value="">Select</option>
                                                        {{#each country_code}}
                                                            <option value="{{code}}">{{name}} {{code}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="box_sec">
                                                    <input type="text" class="form-control required js_mobile"
                                                           autocomplete="nope" placeholder="Your 10 digit mobile No."
                                                           value="{{data.mobile}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Email ID</label><a href=""
                                                                                        class="verify_link">VERIFY</a>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_email"
                                                   autocomplete="nope" placeholder="Your current Email ID"
                                                   value="{{data.email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Upload Resume</label>
                                        {{>client/doc_upload}}
                                    </div>
                                </div>
                            </div>
                            <div class="resume_view_wrap hide">
                                <a href="/api/applicant/resume/{{data.resume}}" class="resume_link" target="_blank">
                                    View resume
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="row">
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group pixl_form_group ">
                                                <button class="btn btn_big">PREVIEW</button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-12">
                                            <div class="form-group pixl_form_group ">
                                                <button class="btn btn_big btn_blue" type="submit">
                                                    <span class="fa fa-check left_icon"></span>
                                                    SAVE
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        ApplicantEditHandler.init();
    });
</script>
</html>
