<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applicant Preferences</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="profile_pg job_applicant_pg">
{{>header user=user}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>applicant_tab_link active='applicant_preference'}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    {{#if data.photo}}
                                        <img src="/api/applicant/photo/{{data.photo}}"
                                             class="img_sec js_img_pre_holder">
                                    {{else}}
                                        <img src="/img/user_icon.svg"
                                             class="img_sec js_img_pre_holder">
                                    {{/if}}
                                    <!--<input type="file" class="js_input_profile_file" accept="image/*">-->
                                    <!--<input type="hidden" class="js_existing_profile_photo" accept="image/*"-->
                                    <!--value="{{data.photo}}">-->
                                    <!--<div class="icon_wrap">-->
                                    <!--<span class="fa fa-pencil"></span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        {{data.name}}
                                    </div>
                                    <div class="designation">
                                        {{#if data.designation}}
                                            {{data.designation}},
                                            {{data.exp_year}}.{{data.exp_month}}yrs Exp
                                        {{else}}
                                            {{data.qualification}}
                                            {{data.institution}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards_wrap">
                        <div class="panel card_sec profile_links">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <a href="/applicant/change-password" class="cta_links">Change Password</a>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <a href="/applicant/change-email" class="cta_links">Change Email</a>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        ApplicantEditHandler.init();
    });
</script>
</html>
