<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applicant Application</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets select2=true}}
</head>
<body class="job_applicant_pg">
{{>header user=user}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>applicant_tab_link active="applicant_application"}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    <img src="img/user_icon.svg" class="img_sec">
                                    <!--<div class="icon_wrap">-->
                                        <!--<span class="fa fa-pencil"></span>-->
                                    <!--</div>-->
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        {{data.name}}
                                    </div>
                                    <div class="designation">
                                        {{#if data.designation}}
                                            {{data.designation}},
                                            {{data.exp_year}}.{{data.exp_month}}yrs Exp
                                        {{else}}
                                            {{data.qualification}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards_wrap js_applications_wrap">
                        {{>client/job_application data=applications.result}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer select2=true}}
</body>
<script type="application/javascript">
    $(function() {

        $('.js_close_btn_link').click(function() {
            var _this = $(this);
            var _parent = $(this).closest('.js_card_sec');
            _parent.find('.js_panel_title').trigger('click');
            if(_this.hasClass('collapsed')) {
                _this.removeClass('hide');
            } else {
                _this.addClass('hide');
            }
        });
        $('.js_panel_title').click(function() {
            var _this = $(this);
            var _parent = $(this).closest('.js_card_sec');
            if(!_this.hasClass('collapsed')) {
                _parent.find('.js_close_btn_link').addClass('hide');
            } else {
                _parent.find('.js_close_btn_link').removeClass('hide');
            }
        });
    });
</script>
</html>
