<!DOCTYPE html>
<html lang="en">
<head>
    <title>Applicant Change Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets swiper=true  select2=true cropper=true}}
</head>
<body class="profile_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>applicant_tab_link active=''}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <form class="form_wrap" id="resetPasswordForm">
                        <div class="name_info_sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img_wrap">
                                        {{#if data.photo}}
                                            <img src="/api/applicant/photo/{{data.photo}}"
                                                 class="img_sec js_img_pre_holder">
                                        {{else}}
                                            <img src="/img/user_icon.svg"
                                                 class="img_sec js_img_pre_holder">
                                        {{/if}}
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="name_txt">{{data.name}}</div>
                                    <div class="designation">
                                        {{#if data.designation}}
                                            {{data.designation}},
                                            {{data.exp_year}}.{{data.exp_month}}yrs Exp
                                        {{else}}
                                            {{data.qualification}}
                                            {{data.institution}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_sec">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Old Password</label>
                                        <div class="box_sec">
                                            <input type="password"
                                                   class="form-control gl_input_box required js_password"
                                                   autocomplete="nope"
                                                   placeholder="Enter old password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">New Password</label>
                                        <div class="box_sec">
                                            <input type="password"
                                                   class="form-control gl_input_box required js_new_password"
                                                   autocomplete="nope"
                                                   placeholder="Enter new password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Confirm Password</label>
                                        <div class="box_sec">
                                            <input type="password"
                                                   class="form-control gl_input_box required js_con_password"
                                                   autocomplete="nope"
                                                   placeholder="Enter new password"
                                                   value="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta_wrap">
                                <input type="hidden" class="js_user_id" value="{{user_id}}">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button class="btn btn_big btn_blue" type="submit">
                                    SAVE
                                    <img src="/img/icons/tick.svg" alt="" class="tick_icon">
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">
    $(function() {
        ResetAppPasswordHandler.initAppResetPassword();
    });

</script>
</html>
