<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Applicant</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="profile_pg">
{{>header user=user}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>applicant_tab_link active='applicant_account'}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <form class="form_wrap" id="jsApplicantEditForm">
                        <div class="name_info_sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img_wrap">
                                        {{#if data.photo}}
                                            <img src="/api/applicant/photo/{{data.photo}}"
                                                 class="img_sec js_img_pre_holder">
                                        {{else}}
                                            <img src="/img/user_icon.svg"
                                                 class="img_sec js_img_pre_holder">
                                        {{/if}}
                                        <input type="file" class="js_input_profile_file" accept="image/*">
                                        <input type="hidden" class="js_existing_profile_photo" accept="image/*"
                                               value="{{data.photo}}">
                                        <div class="icon_wrap">
                                            <span class="fa fa-pencil"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="name_txt">
                                        {{data.name}}
                                    </div>
                                    <div class="designation">
                                        {{#if data.designation}}
                                            {{data.designation}},
                                            {{data.exp_year}}.{{data.exp_month}}yrs Exp
                                        {{else}}
                                            {{data.qualification}}
                                            {{data.institution}}
                                        {{/if}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_sec">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_name required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name"
                                                   value="{{data.name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpYear"
                                                            class="form-control js_select2 js_exp_year">
                                                        {{#each exp_year_arr}}
                                                            <option value="{{this}}"
                                                                    {{#ifCond ../data.exp_year '=='
                                                                              this}}selected{{/ifCond}}>{{this}} Years
                                                            </option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpMonth"
                                                            class="form-control js_exp_month js_select2">
                                                        <option value="0"
                                                            {{#ifCond data.exp_month '===' '0'}}
                                                                selected
                                                            {{/ifCond}}>0 Months
                                                        </option>
                                                        <option value="1"
                                                            {{#ifCond data.exp_month '===' '1'}}
                                                                selected
                                                            {{/ifCond}}>1 Months
                                                        </option>
                                                        <option value="2"
                                                            {{#ifCond data.exp_month '===' '2'}}
                                                                selected
                                                            {{/ifCond}}>2 Months
                                                        </option>
                                                        <option value="3"
                                                            {{#ifCond data.exp_month '===' '3'}}
                                                                selected
                                                            {{/ifCond}}>3 Months
                                                        </option>
                                                        <option value="4"
                                                            {{#ifCond data.exp_month '===' '4'}}
                                                                selected
                                                            {{/ifCond}}>4 Months
                                                        </option>
                                                        <option value="5"
                                                            {{#ifCond data.exp_month '===' '5'}}
                                                                selected
                                                            {{/ifCond}}>5 Months
                                                        </option>
                                                        <option value="6"
                                                            {{#ifCond data.exp_month '===' '6'}}
                                                                selected
                                                            {{/ifCond}}>6 Months
                                                        </option>
                                                        <option value="7"
                                                            {{#ifCond data.exp_month '===' '7'}}
                                                                selected
                                                            {{/ifCond}}>7 Months
                                                        </option>
                                                        <option value="8"
                                                            {{#ifCond data.exp_month '===' '8'}}
                                                                selected
                                                            {{/ifCond}}>8 Months
                                                        </option>
                                                        <option value="9"
                                                            {{#ifCond data.exp_month '===' '9'}}
                                                                selected
                                                            {{/ifCond}}>9 Months
                                                        </option>
                                                        <option value="10"
                                                            {{#ifCond data.exp_month '===' '10'}}
                                                                selected
                                                            {{/ifCond}}>10 Months
                                                        </option>
                                                        <option value="11"
                                                            {{#ifCond data.exp_month '===' '11'}}
                                                                selected
                                                            {{/ifCond}}>11 Months
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Date Of Birth</label>
                                        <div class="box_sec">
                                            <input type="text" id="jsDOB" class="form-control js_dob required"
                                                   value="{{data.dob}}"
                                                   autocomplete="nope"
                                                   placeholder="Date Of Birth">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Gender</label>
                                        <div class="box_sec">
                                            <select class="form-control js_gender js_select2">
                                                <option value="male"
                                                    {{#ifCond data.gender '===' 'male'}}
                                                        selected
                                                    {{/ifCond}}>
                                                    Male
                                                </option>
                                                <option value="female"
                                                    {{#ifCond data.gender '===' 'female'}}
                                                        selected
                                                    {{/ifCond}}>
                                                    Female
                                                </option>
                                                <option value="other"
                                                    {{#ifCond data.gender '===' 'other'}}
                                                        selected
                                                    {{/ifCond}}>
                                                    Other
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 js_fresh_detail_sec {{#if data.qualification}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Qualification</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_qualification"
                                                   autocomplete="nope" placeholder="Highest academic qualification"
                                                   value="{{data.qualification}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.designation}}{{else}}hide{{/if}} ">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Designation</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_designation"
                                                   autocomplete="nope" placeholder="Mention about your role"
                                                   value="{{data.designation}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.company}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_company"
                                                   autocomplete="nope" placeholder="Enter your company's name"
                                                   value="{{data.company}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_exp_detail_sec {{#if data.current_salary}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Current Annual Salary</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_cur_salary"
                                                   autocomplete="nope" placeholder="Enter Amt in No.s only"
                                                   value="{{data.current_salary}}">
                                            <span class="inr_txt">INR</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group {{#if
                                            data.expected_salary}}{{else}}hide{{/if}}">
                                        <label class="control-label">Expected Annual Salary</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_anual_salary"
                                                   autocomplete="nope" placeholder="Enter Amt in No.s only"
                                                   value="{{data.expected_salary}}">
                                            <span class="inr_txt">INR</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 js_fresh_detail_sec {{#if data.institution}}{{else}}hide{{/if}}">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Institution</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_institution"
                                                   autocomplete="nope"
                                                   placeholder="Last academic institution attended"
                                                   value="{{data.institution}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 js_fresh_detail_sec">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Institution City</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_institution_city"
                                                   autocomplete="nope"
                                                   placeholder="Institution City"
                                                   value="{{data.institution_city}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Current Living City</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_current_city"
                                                   id="glAdAddress"
                                                   autocomplete="nope"
                                                   placeholder="Current City"
                                                   value="{{data.current_city}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label"> </label>
                                        <div class="check_box_wrap">
                                            <label class="check_box">
                                                <input type="checkbox" class="js_relocation_checkbox"
                                                       {{#if data.relocation}}checked{{/if}}>
                                                <span class="checkmark"></span>
                                                Are you willing to relocate?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Home City</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control"
                                                   id="homeAdAddress"
                                                   value="{{data.home_city}}"
                                                   autocomplete="nope"
                                                   placeholder="Home City">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Contact No.</label><a href=""
                                                                                           class="verify_link">VERIFY</a>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box_sec">
                                                    <select class="form-control js_mobile_code required js_select2">
                                                        <option value="">select</option>
                                                        {{#each country_code}}
                                                            <option value="{{code}}"
                                                                {{#ifCond ../data.mobile_code '===' code}}
                                                                    selected
                                                                {{/ifCond}}>
                                                                {{name}} {{code}}
                                                            </option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="box_sec">
                                                    <input type="text" class="form-control required js_mobile"
                                                           autocomplete="nope" placeholder="Your 10 digit mobile No."
                                                           value="{{data.mobile}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Email ID</label>
                                        {{#if data.is_email_verified}}
                                            <div class="verified_wrap">
                                                <div class="verified_email">
                                                    <img src="/img/icons/tick-green.svg" alt="">
                                                </div>
                                                <span class="verified_txt">Verified</span>
                                            </div>
                                        {{else}}
                                            <a class="verify_link js_verify_email">VERIFY</a>
                                        {{/if}}
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_email"
                                                   autocomplete="nope" placeholder="Your current Email ID"
                                                   value="{{data.email}}" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="technologies_wrap">
                                <h4>Preferred Cities</h4>
                                <hr>
                                <div class="js_cities_wrap">
                                    {{#each data.applicant_cities}}
                                        {{>client/city_row}}
                                    {{else}}
                                        {{>client/city_row}}
                                    {{/each}}
                                </div>
                                <div class="add_technology_cta_wrap">
                                    <a class="btn btn_blue js_add_city">Add City</a>
                                </div>
                                <hr>
                            </div>
                            <div class="technologies_wrap">
                                <h4>Languages</h4>
                                <hr>
                                <div class="js_languages_wrap">
                                    {{#each data.applicant_languages}}
                                        {{>client/language_row}}
                                    {{else}}
                                        {{>client/language_row}}
                                    {{/each}}
                                </div>
                                <div class="add_technology_cta_wrap">
                                    <a class="btn btn_blue js_add_language">Add Language</a>
                                </div>
                                <hr>
                            </div>
                            <div class="technologies_wrap">
                                <h4>Technologies</h4>
                                <hr>
                                <div class="js_technologies_wrap">
                                    {{#each data.applicant_technologies}}
                                        {{>client/technology_row}}
                                    {{else}}
                                        {{>client/technology_row}}
                                    {{/each}}
                                </div>
                                <div class="add_technology_cta_wrap">
                                    <a class="btn btn_blue js_add_technology">Add Technology</a>
                                </div>
                                <hr>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Upload Resume</label>
                                        {{>client/doc_upload}}
                                    </div>
                                </div>
                            </div>
                            <div class="resume_view_wrap hide">
                                <a href="/api/applicant/resume/{{data.resume}}" class="resume_link" target="_blank">
                                    View resume
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group pixl_form_group text-center">
                                                <button class="btn btn_big btn_blue" type="submit">
                                                    <span class="fa fa-check left_icon"></span>
                                                    SAVE
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" class="js_street">
                        <input type="hidden" class="js_area_in">
                        <input type="hidden" class="js_area">
                        <input type="hidden" class="js_locality">
                        <input type="hidden" class="js_city">
                        <input type="hidden" class="js_state">
                        <input type="hidden" class="js_country">
                        <input type="hidden" class="js_postal_code">
                        <input type="hidden" class="js_place_id">
                        <input type="hidden" class="js_full_address">
                        <!--Home Address-->
                        <input type="hidden" class="js_home_street">
                        <input type="hidden" class="js_home_area_in">
                        <input type="hidden" class="js_home_area">
                        <input type="hidden" class="js_home_locality">
                        <input type="hidden" class="js_home_city">
                        <input type="hidden" class="js_home_state">
                        <input type="hidden" class="js_home_country">
                        <input type="hidden" class="js_home_postal_code">
                        <input type="hidden" class="js_home_place_id">
                        <input type="hidden" class="js_home_full_address">
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer select2=true googlePlaces=true}}
</body>
<script type="application/javascript">
    $(function() {
        ApplicantEditHandler.init();
        GoogleAddressHandler.init();
    });
</script>
</html>
