<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Recruiter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets swiper=true  select2=true cropper=true}}
</head>
<body class="profile_pg job_recruiter_pg">
{{>header}}

<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>recruiter_tab_link active="companies"}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="form_wrap">
                        <div class="name_info_sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img_wrap">
                                        {{#if data.photo}}
                                            <img src="/api/recruiter/photo/{{data.photo}}" class="img_sec">
                                        {{else}}
                                            <img src="https://via.placeholder.com/150" class="img_sec">
                                        {{/if}}
                                        <div class="icon_wrap">
                                            <span class="fa fa-pencil"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="name_txt">{{data.name}}</div>
                                    <div class="qualification_txt">{{data.designation}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_sec">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control gl_input_box required js_name"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name"
                                                   value="{{data.name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Designation</label>
                                        <div class="box_sec">
                                            <input type="text"
                                                   class="form-control gl_input_box required js_designation"
                                                   autocomplete="nope" placeholder="Mention about your role"
                                                   value="{{data.designation}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Gender</label>
                                        <div class="box_sec">
                                            <select name="exp_select"
                                                    class="form-control required js_gender js_select2">
                                                <option value="male"
                                                        {{#ifCond data.gender '===' 'male'}}selected{{/ifCond}}>Male
                                                </option>
                                                <option value="female"
                                                        {{#ifCond data.gender '===' 'female'}}selected{{/ifCond}}>
                                                    Female
                                                </option>
                                            </select>
                                            <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Mobile</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_mobile"
                                                   autocomplete="nope" placeholder="Enter mobile"
                                                   value="{{data.mobile}}">
                                            <input type="hidden" class="js_recruiter_id" value="{{data.id}}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cards_wrap company_sec js_cards_wrap no_pad">
                                {{>client/company_form_two data=data.companies default_company_id=data.default_company_id}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">
    $(function() {
        RecruiterCompanyHandler.init();
    });

</script>
</html>
