<!DOCTYPE html>
<html lang="en">
<head>
    <title>Job Information</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets select2=true}}
</head>
<body class="job_info_pg">
{{>header user=user}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="job_detail_sec">
            <div class="row">
                <div class="col-md-9">
                    <div class="common_form_sec">
                        <div class="job_card">
                            <div class="job_sec">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="job_card_title">{{data.name}}</div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="company_logo">
                                                    {{data.company.name}}
                                                </div>
                                            </div>
                                            <div class="col-sm-6 text-right">
                                                <div class="category_wrap">
                                                    <a class="category_link">
                                                        {{data.job_categories.0.category.name}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="job_tags">
                                    <div class="row">
                                        <div class="col-md-12 col-xs-12">
                                            <div class="tags_wrap spl_wrap">
                                                <div class="tags">
                                                    <i class="fa fa-inr dollar_icons" aria-hidden="true"></i>
                                                    {{#formatCurrency data.salary_min}}{{/formatCurrency}}
                                                    - {{#formatCurrency data.salary_max}}{{/formatCurrency}}
                                                </div>
                                                <div class="tags">
                                                    <img src="/img/icons/calendar.svg" class="cal_icons">
                                                    {{#countDateTime data.created_at}}{{/countDateTime}}
                                                </div>
                                                {{#if data.company.city}}
                                                    <div class="tags">
                                                        <img src="/img/icons/location.svg" class="loc_icons">
                                                        {{data.company.city}}
                                                    </div>
                                                {{/if}}
                                                <div class="tags">
                                                    <img src="/img/icons/place.svg" class="place_icons">
                                                    {{#ifCond data.location_type '===' 'office'}}
                                                        On Site
                                                    {{else}}
                                                        Remote
                                                    {{/ifCond}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="work_sec">
                                <div class="row row_c">
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">TYPE:
                                            <span class="option_val">{{data.job_type}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">
                                            WORKWEEK:
                                            <span class="option_val">{{data.work_week}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col_bordered">
                                        <div class="option">
                                            HOLIDAY:
                                            <span class="option_val">{{data.holidays}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job_desc">
                                <div class="desc_details">
                                    <div class="about_sec">
                                        <div class="desc_title">
                                            About the work
                                        </div>
                                        <div class="desc">
                                            {{data.desc}}
                                        </div>
                                    </div>
                                    <div class="requirement_sec">
                                        <div class="desc_title">
                                            Requirements
                                        </div>
                                        <div class="desc">
                                            <ul class="requirement_list">
                                                {{#each data.job_requirements}}
                                                    <li class="requirement_line">{{requirement.desc}}
                                                    </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tech_details">
                                <div class="tech_sec">
                                    <div class="desc_title">
                                        Technologies
                                    </div>
                                    <div class="desc">
                                        <div class="row">
                                            {{#each data.job_technologies}}
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-6 col-xs-6">
                                                            <div class="tech_name">{{technology.name}}</div>
                                                        </div>
                                                        <div class="col-md-6 col-xs-6">
                                                            <div class="filled_bar"></div>
                                                            <div class="filled_bar"></div>
                                                            <div class="empty_bar"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="about_company_card">
                            <div class="company_desc">
                                <div class="about_sec">
                                    <div class="desc_title">
                                        About Company
                                    </div>
                                    <div class="desc">
                                        {{data.company.about}}
                                    </div>
                                </div>
                            </div>

                            <div class="about_work_sec">
                                <div class="row row_c">
                                    <div class="col-md-6 col_bordered">
                                        <div class="option">COMPANY SIZE:
                                            <span class="option_val">{{data.company.size}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col_bordered">
                                        <div class="option">
                                            INDUSTRY:
                                            <span class="option_val">{{data.company.industry.name}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="company_desc">
                                <div class="about_sec">
                                    <div class="desc_title">
                                        Benefits
                                    </div>
                                    <div class="desc benefits_desc">
                                        <div class="row">
                                            {{#each data.company.company_benefits}}
                                                <div class="col-md-6">
                                                    <div class="circle_wrap">
                                                        <div class="circle_tick">
                                                            <img src="/img/icons/tick.svg" class="icons tick">
                                                        </div>
                                                        <div class="title">{{benefit.name}}</div>
                                                    </div>
                                                </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="apply_sec">
                        {{#if is_applied}}
                            <div class="js_apply_cta_wrap">
                                <button type="button"
                                        class="btn btn-apply applied">
                                    You applied for this Job
                                </button>
                                <input type="hidden" class="js_applicant_id" value="{{applicant_id}}">
                                <input type="hidden" class="js_job_id" value="{{job_id}}">
                            </div>
                        {{else}}
                            <div class="js_apply_cta_wrap">
                                {{#if user.is_recruiter}}
                                    <div class="link_sec">
                                        <a class="link" href="">{{data.company.email}}</a>
                                    </div>
                                {{else}}
                                    <button type="button"
                                            class="btn btn-apply js_apply_job">
                                        Apply for this position now
                                    </button>
                                    <button type="button"
                                            class="btn btn-apply applied js_applied hide">
                                        You applied for this Job
                                    </button>
                                    <input type="hidden" class="js_applicant_id" value="{{applicant_id}}">
                                    <input type="hidden" class="js_job_id" value="{{job_id}}">
                                    <div class="links_part">
                                        <div class="link_txt">
                                            or <br/>
                                            copy and apply by email
                                            support@pixljobs.com
                                        </div>
                                        <div class="link_sec">
                                            <a class="link" href="">{{data.company.email}}</a>
                                        </div>
                                    </div>
                                {{/if}}
                            </div>
                        {{/if}}
                        <div class="social_link_wrap">
                            <div class="row">
                                <div class="col-md-4 col-xs-4">
                                    <a href="#" class="social_link">
                                        <img src="/img/icons/fb.svg" class="social_icons">
                                        <span class="social_txt">Share</span>
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <a href="#" class="social_link">
                                        <img src="/img/icons/tw.svg" class="social_icons"> Tweet
                                    </a>
                                </div>
                                <div class="col-md-4 col-xs-4">
                                    <a href="#" class="social_link">
                                        <img src="/img/icons/save.svg" class="social_icons"> Save
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="tags_sec">
                            {{#each data.job_technologies}}
                                <a href="#" class="tech_tg">{{technology.name}}</a>
                            {{/each}}
                        </div>
                        <a href="#" class="hide">
                            <div class="views_sec">
                                Page Views: 49
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="similar_wrap">
            <div class="similar_sec">
                <div class="title">
                    Similar positions
                </div>
                <div class="row">
                    {{#each similar_jobs.result}}
                        <div class="col-md-4">
                            <a class="similar_post_card" href="/job-info/{{this.id}}">
                                <div class="row">
                                    <div class="col-md-3 col-xs-3">
                                        <div class="profile_img_wrap">
                                            {{#if company.logo}}
                                                <img src="/api/companies/photo/{{company.logo}}" class="c_logo">
                                            {{else}}
                                                <img src="/img/company-temp-logo.png" class="c_logo">
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-9">
                                        <div class="post_title">{{#truncateText name 15}}{{/truncateText}}</div>
                                        <div class="company">{{#truncateText company.name 16}}{{/truncateText}}</div>
                                        <div class="place">
                                            <img src="/img/icons/location.svg" class="icons">
                                            {{city}}, {{state}}
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="back_sec">

    </div>
</section>
{{>footer bottom_form=true}}
</body>
<script type="application/javascript">
    $(function() {
        JobInfoHandler.init();
    });
</script>
</html>
