<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders - About Work</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true ranger=true editor=true}}
</head>
<body class="postjob_work">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <section class="hero_sec">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form class="form_sec" id="jsJobForm">
                                    <div class="title_wrap text-center">
                                        <div class="title">Post job</div>
                                        <div class="sub_title">About Work (1/3)</div>
                                    </div>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-success" role="progress-bar"
                                             aria-valuenow="37" aria-valuemin="0" aria-valuemax="100" style="width:37%">
                                            <span class="sr-only">37% Complete</span>
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Title</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_title"
                                                   placeholder="Eg: Frontend Developer, UI Designer..."
                                                   value="{{data.name}}">
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Location</label>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="box_sec radio_box">
                                                    <div class="form-control radio">
                                                        <input id="locationType1"
                                                               name="locationType"
                                                               type="radio"
                                                               value="office"
                                                            {{#ifCond data.location_type '===''office'}}
                                                               checked
                                                            {{/ifCond}}>
                                                        <label for="locationType1" class="radio-label">On Site</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="box_sec radio_box">
                                                    <div class="form-control radio">
                                                        <input id="locationType2"
                                                               name="locationType"
                                                               value="remote"
                                                               type="radio"
                                                            {{#ifCond data.location_type '===''remote'}}
                                                               checked
                                                            {{/ifCond}}>
                                                        <label for="locationType2" class="radio-label">Remote</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label"> Address</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required" id="glAdAddress"
                                                   autocomplete="nope" placeholder="Enter address"
                                                   value="{{job_addressStr}}">
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Experience</label>
                                        <div class="row">
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpYear"
                                                            class="form-control js_select2 js_exp_year">
                                                        {{#counter 0 50}}
                                                            <option value="{{this}}"{{#ifCond ../data.exp_year '=='
                                                                                              this}}selected{{/ifCond}}>{{this}}
                                                                Years
                                                            </option>
                                                        {{/counter}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-xs-6">
                                                <div class="box_sec">
                                                    <select id="selectExpMonth"
                                                            class="form-control js_exp_month js_select2">
                                                        {{#counter 0 11}}
                                                            <option value="{{this}}"{{#ifCond ../data.exp_month '=='
                                                                                              this}}selected{{/ifCond}}>{{this}}
                                                                Months
                                                            </option>
                                                        {{/counter}}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-xs-6">
                                            <div class="form-group pixl_form_group">
                                                <label class="control-label">How many position open?</label>
                                                <div class="box_sec">
                                                    <input type="text" class="form-control required js_position_count"
                                                           value="{{data.position_count}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-xs-6">
                                            <div class="form-group pixl_form_group">
                                                <label class="control-label">Set an end date (optional)</label>
                                                <div class="box_sec">
                                                    <input type="text" class="form-control  js_end_date"
                                                           value="{{data.end_date}}"
                                                           id="jsEndDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Description <span
                                                class="hide">(max 320 chars)</span></label>
                                        <div class="box_sec">
                                            <div class="common_editor" id="descEditor"></div>
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Job Requirements<span class="gl_input_text">separated by comma ( , )</span></label>
                                        <div class="box_sec">
                                            <select multiple="multiple"
                                                    class="form-control required js_job_requirements">
                                                {{#each requirements}}
                                                    {{#checkArrayOfObjectVal id ../data.qa_job_requirements}}
                                                        <option value="{{id}}" selected>{{desc}}</option>
                                                    {{else}}
                                                        <option value="{{id}}">{{desc}}</option>
                                                    {{/checkArrayOfObjectVal}}
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="control-label">Salary - Annual INR</label>
                                            </div>
                                            <div class="col-md-6 text-right">
                                                <label class="check_box js_company_check_box_wrap">
                                                    <input type="checkbox" class="js_salary_not_decided">
                                                    <span class="checkmark"></span>
                                                    Not decided
                                                </label>
                                            </div>
                                        </div>
                                        <div class="box_sec">
                                            <div class="wrapper" style="padding:20px;">
                                                <div class="range-slider">
                                                    <input type="text" class="js-range-slider" value=""/>
                                                </div>
                                                <div class="extra-controls form-inline salary_box">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group pixl_form_group">
                                                                <label class="control-label">Min Salary</label>
                                                                <div class="box_sec">
                                                                    <input type="text"
                                                                           class="js-input-from form-control"
                                                                           value="{{data.salary_min}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group pixl_form_group">
                                                                <label class="control-label">Max Salary</label>
                                                                <div class="box_sec">
                                                                    <input type="text" class="js-input-to form-control"
                                                                           value="{{data.salary_max}}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group pixl_form_group">
                                                                <label class="control-label">Fixed Salary</label>
                                                                <div class="box_sec">
                                                                    <input type="text"
                                                                           class="form-control js_fixed_salary"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="cta_wrap text-center">
                                        <button class="btn btn_big btn_blue">PROCEED
                                            <img src="/img/icons/full-arrow-blue.svg" alt="" class="right_icon">
                                        </button>
                                        <input type="hidden" value="{{recruiter_id}}" class="js_recruiter_id">
                                        <input type="hidden" class="js_job_id" value="{{job_id}}">
                                    </div>
                                    <input type="hidden" class="js_street" value="{{data.street}}">
                                    <input type="hidden" class="js_area_in" value="{{data.area_in}}">
                                    <input type="hidden" class="js_area" value="{{data.area}}">
                                    <input type="hidden" class="js_locality" value="{{data.locality}}">
                                    <input type="hidden" class="js_city" value="{{data.city}}">
                                    <input type="hidden" class="js_state" value="{{data.state}}">
                                    <input type="hidden" class="js_country" value="{{data.country}}">
                                    <input type="hidden" class="js_postal_code" value="{{data.pin}}">
                                    <input type="hidden" class="js_place_id">
                                    <input type="hidden" class="js_full_address">
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true ranger=true googlePlaces=true editor=true}}
</body>
<script type="text/javascript">
    $(function() {
        //var _desc = ('{{{data.desc}}}').toString();
        PostJobEditHandler.init('');
        GoogleAddressHandler.init();
    });
</script>
</html>
