<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="postjob_company">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <section class="hero_sec">
                        <div class="title_wrap">
                            <div class="title text-center">Post job</div>
                            <div class="sub_title text-center">About Company (3/3)</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progress-bar"
                                 aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="companies_wrap">
                                    <div class="select_comp_txt">Select company</div>
                                    <ul class="list_sec">
                                        {{#each companies}}
                                            <li class="active">
                                                <label class="check_box js_company_check_box_wrap">
                                                    <input type="checkbox" class="js_company_check_box"
                                                           data-cid="{{this.id}}">
                                                    <span class="checkmark"></span>
                                                    {{this.name}}
                                                </label>
                                            </li>
                                        {{/each}}
                                    </ul>
                                    {{#if companies.length}}
                                        <a class="btn btn_blue add_new_company_btn js_add_new_company_btn">Add New Company</a>
                                    {{/if}}
                                </div>
                                <div class="js_forms_wrap {{#if companies.length}}hide{{/if}}">
                                    {{>client/company_form}}
                                </div>
                                <div class="cta_wrap">
                                    <a class="btn btn_big second_btn" href="/post-job/info/{{job_id}}">
                                        RETURN
                                        <img src="/img/icons/full-arrow-grey.svg" alt="" class="left_icon">
                                    </a>
                                    <button class="btn btn_big btn_blue jsSubmitExistingCompanyBtn">
                                        PROCEED
                                        <img src="/img/icons/full-arrow-blue.svg" alt="" class="right_icon">
                                    </button>
                                    <button class="btn btn_big btn_blue hide jsSubmitCompanyBtn">
                                        PROCEED
                                        <img src="/img/icons/full-arrow-blue.svg" alt="" class="right_icon">
                                    </button>
                                    <input type="hidden" class="js_job_id" value="{{job_id}}">
                                    <input type="hidden" class="js_company_id" value="{{companies.0.id}}">
                                    <input type="hidden" class="js_user_id" value="{{user_id}}">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        PostJobHandler.initCompany()
    });
</script>
</html>
