<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="postjob_info">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <section class="hero_sec">
                        <div class="title_wrap">
                            <div class="title text-center">Post job</div>
                            <div class="sub_title text-center"> Additional Info (2/3)</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" role="progress-bar" aria-valuenow="51"
                                 aria-valuemin="0" aria-valuemax="100" style="width:51%">
                                <span class="sr-only">51% Complete</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <form class="form_sec" id="jsJobInfoForm">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Work Week <span
                                                class="fade_txt">(hours)</span></label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_work_week"
                                                   placeholder="Type in Numbers Eg: 40 Hrs"
                                                   value="{{job_data.work_week}}">
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Holidays <span
                                                class="fade_txt">(days - per year)</span></label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_holidays"
                                                   placeholder="Type in Numbers Eg: 20 days"
                                                   value="{{job_data.holidays}}">
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Description <span>(max 320 chars)</span></label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_desc" placeholder="Type here"
                                                   value="{{job_data.desc}}">
                                        </div>
                                    </div>
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label demo">Technologies</label>
                                        <div class="box_sec">
                                            <select multiple="multiple"
                                                    class="form-control required js_technologies">
                                                {{#each technologies}}
                                                    {{#checkArrayOfObjectVal id ../job_data.qa_job_technologies}}
                                                        <option value="{{id}}" selected>{{name}}</option>
                                                    {{else}}
                                                        <option value="{{id}}">{{name}}</option>
                                                    {{/checkArrayOfObjectVal}}
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="cta_wrap">
                                        <a class="btn btn_big second_btn" href="/post-job-edit/{{job_id}}">
                                            RETURN
                                            <img src="/img/icons/full-arrow-grey.svg" alt="" class="left_icon">
                                        </a>
                                        <button class="btn btn_big btn_blue">PROCEED
                                            <img src="/img/icons/full-arrow-blue.svg" alt="" class="right_icon">
                                        </button>
                                        <input type="hidden" class="js_job_id" value="{{job_id}}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        PostJobHandler.initWorkInfo();
    });
</script>
</html>
