<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Applications</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="job_recruiter_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>recruiter_tab_link active="applications"}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="user_wrap">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="profile_img_wrap">
                                    {{#if data.photo}}
                                        <img src="/api/recruiter/photo/{{data.photo}}" class="img_sec">
                                    {{else}}
                                        <img src="/img/user_icon.svg" class="img_sec js_img_pre_holder">
                                    {{/if}}
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="details_sec">
                                    <div class="name">
                                        {{companies.0.name}}
                                    </div>
                                    <div class="designation">
                                        {{companies.0.city}} {{companies.0.url}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cards_wrap js_cards_wrap">
                        {{>client/applicant_card_row data=jobs.result}}
                    </div>
                    <div class="common_load_more_wrap">
                        <a class="load_more_link js_load_more_btn {{#ifCond data.pages '>' '1'}}
                        {{else}}hide{{/ifCond}}">
                            Load more
                            <img src="/img/icons/arrow-down.svg" class="fa" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        RecruiterAppHandler.init();
    });
</script>
</html>
