<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Recruiter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    {{>header_assets swiper=true  select2=true cropper=true}}
</head>
<body class="profile_pg">
{{>header}}

<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="common_tab_links_wrap">
            <ul>
                <li><a class="cta_link active" href="/recruiter-profile">Profile</a></li>
                <li><a class="cta_link" href="/job-recruiter">Applications</a></li>
                <li><a class="cta_link" href="#">Preferences</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="form_wrap">
                        <div class="name_info_sec">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="profile_img_wrap">
                                        <img src="https://via.placeholder.com/150" class="img_sec">
                                        <div class="icon_wrap">
                                            <span class="fa fa-pencil"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="name_txt">{{data.name}}</div>
                                    <div class="qualification_txt">{{data.designation}}, 5yrs Exp.</div>
                                </div>
                            </div>
                        </div>
                        <div class="detail_sec">
                            <form class="" id="jsEditRecruitForm" action="/">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Full Name</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control gl_input_box required js_name"
                                                       autocomplete="nope"
                                                       placeholder="Enter your first name and last name"
                                                       value="{{data.name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Designation</label>
                                            <div class="box_sec">
                                                <input type="text" class="form-control gl_input_box required js_designation"
                                                       autocomplete="nope" placeholder="Mention about your role"
                                                       value="{{data.designation}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Company Name</label>
                                            <div class="box_sec">
                                                <input type="text"
                                                       class="form-control gl_input_box required js_company_name"
                                                       autocomplete="nope" placeholder="Enter your company's name"
                                                       value="{{data.companies.0.name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Industry</label>
                                            <div class="box_sec">
                                                <select class="form-control required js_industry js_select2">
                                                    <option value="">Select a domain</option>
                                                    {{#each industries}}
                                                        {{#ifCond ../data.companies.0.industry_id '===' this.id}}
                                                            <option value="{{this.id}}" selected>{{this.name}}</option>
                                                        {{else}}
                                                            <option value="{{this.id}}">{{this.name}}</option>
                                                        {{/ifCond}}
                                                    {{/each}}
                                                </select>
                                                <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Company Size</label>
                                            <div class="box_sec">
                                                <select class="form-control required js_company_size js_select2">
                                                    <option value="select">Select Range</option>
                                                    <option value="1-10"
                                                            {{#ifCond data.companies.0.size '===' '1-10'}}selected{{/ifCond}}>1-10
                                                    </option>
                                                    <option value="11-20"
                                                            {{#ifCond data.companies.0.size '===' '11-20'}}selected{{/ifCond}}>11-20
                                                    </option>
                                                    <option value="30-50"
                                                            {{#ifCond data.companies.0.size '===' '30-50'}}selected{{/ifCond}}>30-50
                                                    </option>
                                                    <option value="50+"
                                                            {{#ifCond data.companies.0.size '===' '50+'}}selected{{/ifCond}}>50+
                                                    </option>
                                                </select>
                                                <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Company URL</label>
                                            <div class="box_sec">
                                                <input type="text"
                                                       class="form-control gl_input_box required js_company_url"
                                                       autocomplete="nope"
                                                       placeholder="Your company's official website"
                                                       value="{{data.companies.0.url}}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">About Company</label><span
                                                class="gl_input_text">in 200 words or less</span>
                                            <div class="box_sec">
                                            <textarea rows="2"
                                                      class="form-control gl_input_box required js_about_company"
                                                      placeholder="Few words describing your company’s work culture, domain expertise, etc."
                                                      autocomplete="nope">{{data.companies.0.about}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Company Benefits</label>
                                            <div class="box_sec">
                                            <textarea rows="2" class="form-control gl_input_box required"
                                                      placeholder=""
                                                      autocomplete="nope">{{data.companies.0.company_benefits.0.benefit.name}}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group pixl_form_group">
                                            <label class="control-label">Upload Resume <span class="updated_txt">updated 2 days ago</span></label>
                                            <div class="box_sec upload_sec">
                                                <img src="/img/icons/upload-doc.svg" alt="" class="icon_sec">
                                                <span>RahCV122019.pdf</span>
                                                <a class="upload_txt">Re-Upload</a>
                                                <input type="file" class="input_file">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cta_wrap">
                                    <button class="btn btn_big btn_preview">PREVIEW</button>
                                    <button class="btn btn_big btn_blue" type="submit">
                                        SAVE
                                        <img src="/img/icons/tick.svg" alt="" class="tick_icon">
                                    </button>
                                    <input type="hidden" class="js_data_id" value="{{data.id}}">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true cropper=true}}
</body>
<script type="application/javascript">
    $(function() {
        RecruiterProfileEditHandler.initEdit();
    });

</script>
</html>
