<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders Sign-Up-Recruiter</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets swiper=true  select2=true}}
</head>
<body class="signup_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="common_form_sec">
                    <div class="signup_wrap">
                        <form class="" id="jsSignUpRecruitForm">
                            <div class="row">
                                <div class="col-xs-4 col-sm-6 col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <div class="signup_title_wrap">
                                            <div class="title">Signup to </div>
                                            <div class="sub_title">Get started!</div>
                                        </div>
                                    </div>
                                    <div class="role_wrap">
                                        <div class="form-group pixl_form_group">
                                            <label for="" class="control-label">Select a role</label>
                                            <div class="role_row">
                                                <a class="btn signup-applicant role" href="/sign-up/applicant">
                                                    <img src="/img/icons/applicant-grey.svg" alt="" class="role_icon">
                                                    Applicant
                                                </a>
                                                <a class="btn signup-recruit role active" href="/sign-up/recruiter">
                                                    <img src="/img/icons/recruiter-color.svg" alt="" class="role_icon">
                                                    Recruiter
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="upload_photo_wrap js_profile_img_wrap">
                                        <div class="pf_img_wrap">
                                            <img src="/img/user_icon.svg" class="img_sec js_img_pre_holder hide">
                                        </div>
                                        <div class="icon_wrap js_profile_img_txt">
                                            <div class="upload_pic"></div>
                                            <div class="upload_txt">Upload Company</div>
                                            <div class="upload_txt">Logo</div>
                                        </div>
                                        <input type="file" class="js_input_profile_file" accept="image/*">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Full Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_name required"
                                                   autocomplete="nope"
                                                   placeholder="Enter your first name and last name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Designation</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control js_designation required"
                                                   autocomplete="nope" placeholder="Mention about your role">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Gender</label>
                                        <div class="box_sec">
                                            <select name="exp_select"
                                                    class="form-control required js_gender js_select2">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Mobile</label>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="box_sec">
                                                    <select class="form-control js_mobile_code required js_select2">
                                                        <option value="">Select</option>
                                                        {{#each country_code}}
                                                            <option value="{{code}}">{{name}} {{code}}</option>
                                                        {{/each}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="box_sec">
                                                    <input type="text" class="form-control required js_mobile"
                                                           autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Email ID</label>
                                        <div class="box_sec">
                                            <input type="email" class="form-control required js_email"
                                                   autocomplete="nope" placeholder="Your current Email ID">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Password</label>
                                        <div class="box_sec">
                                            <input type="password" class="form-control required js_password"
                                                   autocomplete="nope" placeholder="Enter Password">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Name</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_company_name"
                                                   autocomplete="nope" placeholder="Enter your company's name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Industry</label>
                                        <div class="box_sec">
                                            <select class="form-control js_industry js_select2">
                                                <option value="">Select a domain</option>
                                                {{#each industries}}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Size</label>
                                        <div class="box_sec">
                                            <select class="form-control required js_company_size js_select2">
                                                <option value="select">Select Range</option>
                                                <option value="1-10">1-10</option>
                                                <option value="11-20">11-20</option>
                                                <option value="30-50">30-50</option>
                                                <option value="50+">50+</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company URL</label>
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_company_url"
                                                   autocomplete="nope" placeholder="Your company's official website">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Company Address</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required" id="glAdAddress"
                                           autocomplete="nope" placeholder="Enter address">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">About Company</label><span class="gl_input_text">in 200 words or less</span>
                                        <div class="box_sec">
                                        <textarea rows="2" class="form-control text_area required js_about_company"
                                                  placeholder="Few words describing your company’s work culture, domain expertise, etc."
                                                  autocomplete="nope"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group pixl_form_group">
                                        <label class="control-label">Company Benefits<span class="gl_input_text">separated by comma ( , )</span></label>
                                        <div class="box_sec">
                                            <select multiple="multiple"
                                                    class="form-control required js_company_benefit">
                                                {{#each benefits}}
                                                    <option value="{{this.id}}">{{this.name}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="cta_wrap">
                                <button class="btn btn_big btn_preview">PREVIEW</button>
                                <button type="submit" class="btn btn_big btn_blue">
                                    PROCEED
                                    <img src="/img/icons/full-arrow-blue.svg" alt="" class="right_icon">
                                </button>
                            </div>
                            <input type="hidden" class="js_street">
                            <input type="hidden" class="js_area_in">
                            <input type="hidden" class="js_area">
                            <input type="hidden" class="js_locality">
                            <input type="hidden" class="js_city">
                            <input type="hidden" class="js_state">
                            <input type="hidden" class="js_country">
                            <input type="hidden" class="js_postal_code">
                            <input type="hidden" class="js_place_id">
                            <input type="hidden" class="js_full_address">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer swiper=true select2=true googlePlaces=true}}
</body>
<script type="text/javascript">
    $(function() {
        RecruiterHandler.init();
        GoogleAddressHandler.init();
    });
</script>
</html>
