<form class="card js_subscribe_form">
    <div class="box">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group pixl_form_group">
                    <label class="control-label">Name</label>
                    <div class="box_sec">
                        <input type="text" class="form-control required js_name"
                               placeholder="name">
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group pixl_form_group">
                    <label class="control-label">Email</label>
                    <div class="box_sec">
                        <input type="text" class="form-control required js_name"
                               placeholder="email">
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group pixl_form_group">
                    <label class="control-label">Mobile</label>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="box_sec">
                                <select class="form-control js_mobile_code required js_select2">
                                    <option value="">Select</option>
                                    {{#each data}}
                                        <option value="{{code}}">{{name}} {{code}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="box_sec">
                                <input type="text" class="form-control required js_mobile"
                                       autocomplete="nope" placeholder="Your 10 digit mobile No.">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group pixl_form_group">
                    <label class="control-label">Url</label>
                    <div class="box_sec">
                        <input type="text" class="form-control required js_remaining_amount"
                               placeholder="Url"
                               value="{{url}}">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-center {{#ifCond status '===' 'View'}}hide{{/ifCond}}">
            <button type="submit" class="btn btn_big btn_blue">
                {{#ifCond status '===' 'Edit'}}
                    Update
                {{else}}
                    Submit
                {{/ifCond}}
            </button>
            <input type="hidden" value="{{data.id}}" class="js_data_id">
        </div>

    </div>

</form>