{{#each data}}
    <div class="panel main_card_sec js_main_card_sec">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-9">
                    <a data-toggle="collapse" class="panel-title collapsed js_panel_title"
                       data-parent="#accordion"
                       href="#collapse_{{@index}}">
                        <div class="title_sec">
                            <span class="highlights">{{name}}</span>
                            <span class="small_txt">5+ years</span>
                            <img src="/img/icons/arrow-down-small.svg" alt="" class="icon_arrow_down">
                        </div>
                        <div class="sub_title_sec">
                            <span class="small_txt js_total_application_txt">{{job.lenght}}</span>
                            <span class="small_txt">3 new</span>
                            <span class="small_txt">5 shortlisted</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a class="c_cta_btn open_btn_link js_open_card">
                        <span>OPEN</span>
                    </a>
                    <a class="c_cta_btn reopen_btn_link js_reopen_card hide">
                        <span>RE-OPEN</span>
                    </a>
                    <a class="c_cta_btn more_btn_link js_more_btn_link hide">
                        <span>MORE</span>
                        <img src="/img/icons/arrow-down-orange.svg" alt="" class="icon_arrow_down">
                    </a>
                </div>
            </div>
        </div>
        <div id="collapse_{{@index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="swiper-container js_applicant_card_swiper_{{@index}}">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="card_sec">
                                <div class="c_user_wrap">
                                    <a class="u_img_wrap">
                                        <img src="https://via.placeholder.com/150" class="img_sec">
                                    </a>
                                    <div class="u_name">Sunil Suresh Patil</div>
                                    <div class="designation">Full Stack Developer at Pattu
                                        Techno….
                                    </div>
                                    <div class="ex_cta_wrap">
                                        <a class="cta_link">5 years</a>
                                        <a class="cta_link fresher">Fresher</a>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="label_txt">Current Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="label_txt">Expected Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="label_txt">Phone</div>
                                    <div class="label_val">9878655672</div>
                                    <div class="label_txt no_pad">Email</div>
                                    <div class="label_val">sunil@pixlcoders.com</div>
                                </div>
                                <div class="resume_cta_wrap">
                                    <a class="cta_link">VIEW RESUME</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card_sec">
                                <div class="c_user_wrap">
                                    <a class="u_img_wrap">
                                        <img src="https://via.placeholder.com/150" class="img_sec">
                                    </a>
                                    <div class="u_name">Sunil Suresh Patil</div>
                                    <div class="designation">Full Stack Developer at Pattu
                                        Techno….
                                    </div>
                                    <div class="ex_cta_wrap">
                                        <a class="cta_link">5 years</a>
                                        <a class="cta_link fresher">Fresher</a>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="label_txt">Current Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="label_txt">Expected Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="label_txt">Phone</div>
                                    <div class="label_val">9878655672</div>
                                    <div class="label_txt no_pad">Email</div>
                                    <div class="label_val">sunil@pixlcoders.com</div>
                                </div>
                                <div class="resume_cta_wrap">
                                    <a class="cta_link">VIEW RESUME</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="card_sec">
                                <div class="c_user_wrap">
                                    <a class="u_img_wrap">
                                        <img src="https://via.placeholder.com/150" class="img_sec">
                                    </a>
                                    <div class="u_name">Sunil Suresh Patil</div>
                                    <div class="designation">Full Stack Developer at Pattu
                                        Techno….
                                    </div>
                                    <div class="ex_cta_wrap">
                                        <a class="cta_link">5 years</a>
                                        <a class="cta_link fresher">Fresher</a>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="label_txt">Current Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="label_txt">Expected Salary</div>
                                            <div class="label_val">INR 20,00,000 / yr</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="basic_cont_sec">
                                    <div class="label_txt">Phone</div>
                                    <div class="label_val">9878655672</div>
                                    <div class="label_txt no_pad">Email</div>
                                    <div class="label_val">sunil@pixlcoders.com</div>
                                </div>
                                <div class="resume_cta_wrap">
                                    <a class="cta_link">VIEW RESUME</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-button-next js_applicant_card_swiper_next_{{@index}}"></div>
                    <div class="swiper-button-prev js_applicant_card_swiper_prev_{{@index}}"></div>
                </div>
            </div>
        </div>
    </div>
{{/each}}