{{#each data}}
    <div class="panel main_card_sec js_main_card_sec">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-8">
                    <a data-toggle="collapse" class="panel-title collapsed js_panel_title"
                       data-parent="#accordion"
                       href="#collapse_{{@index}}">
                        <div class="title_sec">
                            <span class="highlights">{{name}}</span>
                            <span class="small_txt">5+ years</span>
                            <img src="/img/icons/arrow-down-small.svg" alt="" class="icon_arrow_down">
                        </div>
                        <div class="sub_title_sec">
                            <span class="small_txt js_total_application_txt">
                                {{job_applications.length}}
                                applications</span>
                            <span class="small_txt">0 new</span>
                            <span class="small_txt">0 shortlisted</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="cat_wrap">
                        <a class="c_cta_btn open_btn_link js_open_card">
                            <span>OPEN</span>
                        </a>
                        <a class="c_cta_btn more_btn_link js_more_btn_link">
                            <span>MORE</span>
                            <img src="/img/icons/arrow-down-orange.svg" alt="" class="icon_arrow_down">
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div id="collapse_{{@index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="swiper-container js_applicant_card_swiper_{{@index}}">
                    <div class="swiper-wrapper">
                        {{#each job_applications}}
                            <div class="swiper-slide">
                                <div class="card_sec js_match_height">
                                    <a class="c_user_wrap" href="/applicant/{{applicant_id}}/{{id}}">
                                        <div class="u_img_wrap">
                                            <img src="/img/user_icon.svg" class="img_sec">
                                        </div>
                                        <div class="u_name">{{applicant.name}}</div>
                                        <div class="designation">
                                            {{#if applicant.designation}}
                                                {{applicant.designation}} at {{applicant.company}}
                                            {{/if}}
                                        </div>
                                        <div class="ex_cta_wrap">
                                            {{#ifCond applicant.exp_year '!==' '0'}}
                                                <span class="cta_link">
                                                    {{applicant.exp_year}}.{{applicant.exp_month}} years
                                                </span>
                                            {{else}}
                                                {{#ifCond applicant.exp_month '!==' '0'}}
                                                    <span class="cta_link">
                                                        {{applicant.exp_year}}.{{applicant.exp_month}} years
                                                    </span>
                                                {{else}}
                                                    <span class="cta_link fresher">Fresher</span>
                                                {{/ifCond}}
                                            {{/ifCond}}
                                        </div>
                                    </a>
                                    <div class="basic_cont_sec">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="label_txt">Current Salary</div>
                                                <div class="label_val">INR {{applicant.current_salary}} / yr</div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="label_txt">Expected Salary</div>
                                                <div class="label_val">INR {{applicant.expected_salary}} / yr</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="basic_cont_sec">
                                        <div class="label_txt">Phone</div>
                                        <div class="label_val">{{applicant.mobile}}</div>
                                        <div class="label_txt no_pad">Email</div>
                                        <div class="label_val">{{applicant.email}}</div>
                                    </div>
                                    <div class="resume_cta_wrap">
                                        <a class="cta_link" href="/api/applicant/resume/{{applicant.resume}}"
                                           target="_blank">VIEW RESUME</a>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div class="swiper-button-next js_applicant_card_swiper_next_{{@index}}"></div>
                    <div class="swiper-button-prev js_applicant_card_swiper_prev_{{@index}}"></div>
                </div>
            </div>
        </div>
    </div>
{{/each}}