<form class="form_sec" id="jsJobCompanyForm">
    <div class="form-group pixl_form_group">
        <label class="control-label">URL to your offer</label>
        <div class="box_sec">
            <input type="text" class="form-control required js_company_url" placeholder="Paste here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Name</label>
        <div class="box_sec">
            <input type="text" class="form-control required js_company_name" placeholder="Type here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Logo</label>
        <div class="box_sec upload_sec">
            <img src="/img/icons/upload-doc.svg" alt="" class="icon_sec">
            <span>Drag & drop Image or </span>
            <a class="upload_txt">Upload file</a>
            <input type="file" class="input_file js_input_c_logo_file">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Industry <span
                class="fade_txt">(Optional)</span></label>
        <div class="box_sec">
            <select class="form-control required js_industry js_select2">
                <option value="">Select a domain</option>
                {{#each industries}}
                    {{#ifCond ../data.industry_id '===' this.id}}
                        <option value="{{this.id}}" selected>{{this.name}}</option>
                    {{else}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/ifCond}}
                {{/each}}
            </select>
            <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Size <span
                class="fade_txt">(No. of employees)</span></label>
        <div class="box_sec">
            <select class="form-control required js_company_size js_select2">
                <option value="select">Select Range</option>
                <option value="1-10" {{#ifCond data.size '===' '1-10'}}selected{{/ifCond}}>1-10</option>
                <option value="11-20" {{#ifCond data.size '===' '11-20'}}selected{{/ifCond}}>11-20</option>
                <option value="30-50" {{#ifCond data.size '===' '30-50'}}selected{{/ifCond}}>30-50</option>
                <option value="50+" {{#ifCond data.size '===' '50+'}}selected{{/ifCond}}>50+</option>
            </select>
            <img src="/img/icons/arrow-down-dark.svg" alt="" class="arrow_down">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">About company <span
                class="fade_txt">(Optional)</span></label>
        <div class="box_sec">
            <input type="text" class="form-control js_about_company" placeholder="Type here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Benefits</label>
        <div class="box_sec">
            <select multiple="multiple"
                    class="form-control required js_company_benefit">
                {{#each benefits}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <div class="icon_wrap">
                <img src="/img/icons/plus-green.svg" alt="" class="icon_sec">
            </div>
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Email for candidates</label>
        <div class="box_sec">
            <input type="email" class="form-control required js_candidate_email"
                   placeholder=" careers@pixlcoders.com">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">Street</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_street"
                           autocomplete="nope" placeholder="Enter street">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">Area</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_area"
                           autocomplete="nope" placeholder="Enter area">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">City</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_city"
                           autocomplete="nope" placeholder="Enter city">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">State</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_state"
                           autocomplete="nope" placeholder="Enter state">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">Country</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_country"
                           autocomplete="nope" placeholder="Enter country">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group pixl_form_group">
                <label class="control-label">Pin Code</label>
                <div class="box_sec">
                    <input type="text" class="form-control required js_pin"
                           autocomplete="nope" placeholder="Enter pin">
                </div>
            </div>
        </div>
    </div>
</form>