{{#each data}}
    <div class="panel main_card_sec js_main_card_sec">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    <a data-toggle="collapse" class="panel-title collapsed company_sec js_panel_title"
                       data-parent="#accordion"
                       href="#collapse_{{@index}}">
                        <div class="title_sec">
                            <span class="highlights">{{name}}</span>
                            <img src="/img/icons/arrow-down-small.svg" alt="" class="icon_arrow_down">
                        </div>
                        <div class="sub_title_sec">
                            <span class="small_txt">{{city}}</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <div class="check_box_wrap">
                        <label class="check_box">
                            <input type="checkbox"
                                   class="js_company_checkbox"
                                   data-id="{{this.id}}"
                                   data-recruiter-id="{{this.recruiter_id}}"
                                   {{#ifCond ../default_company_id '===' this.id}}checked{{/ifCond}}>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapse_{{@index}}" class="panel-collapse collapse">
            <div class="panel-body company_sec">
                <form class="form_sec jsCompanyForm" id="jsCompanyForm_{{@index}}" data-company-id="{{this.id}}">
                    <div class="form-group pixl_form_group">
                        <label class="control-label">URL to your offer</label>
                        <div class="box_sec">
                            <input type="text" class="form-control required js_company_url" placeholder="Paste here"
                                   value="{{url}}">
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Company Name</label>
                        <div class="box_sec">
                            <input type="text" class="form-control required js_company_name" placeholder="Type here"
                                   value="{{name}}">
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Company Logo</label>
                        <div class="box_sec upload_sec {{#if logo}}preview{{/if}}">
                            <div class="file_txt_wrap">
                                <img src="/img/icons/upload-doc.svg" alt="" class="icon_sec">
                                <span>Drag & drop image or </span>
                                <a class="upload_txt">Upload file</a>
                            </div>
                            <div class="file_preview_txt_wrap">
                                <img src="/api/companies/photo/{{logo}}" class="icon_sec js_company_logo_preview">
                                <div class="file_name">{{#truncateTextSpace name 10}}{{/truncateTextSpace}}
                                    .{{#getFileExtension
                                            logo}}{{/getFileExtension}}</div>
                            </div>
                            <input type="file" class="input_file js_input_c_logo_file" accept="image/*">
                            <input type="hidden" class="js_existing_logo" value="{{logo}}">
                            <span class="fa fa-times close_icon js_remove_file"></span>
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Industry <span
                                class="fade_txt">(Optional)</span></label>
                        <div class="box_sec">
                            <select class="form-control required js_industry js_select2">
                                <option value="">Select a domain</option>
                                {{#each ../industries}}
                                    {{#ifCond ../industry.id '===' this.id}}
                                        <option value="{{this.id}}" selected>{{this.name}}</option>
                                    {{else}}
                                        <option value="{{this.id}}">{{this.name}}</option>
                                    {{/ifCond}}
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Company Size <span
                                class="fade_txt">(No. of employees)</span></label>
                        <div class="box_sec">
                            <select class="form-control required js_company_size js_select2">
                                <option value="select">Select Range</option>
                                <option value="1-10" {{#ifCond size '===' '1-10'}}selected{{/ifCond}}>1-10</option>
                                <option value="11-20" {{#ifCond size '===' '11-20'}}selected{{/ifCond}}>11-20
                                </option>
                                <option value="30-50" {{#ifCond size '===' '30-50'}}selected{{/ifCond}}>30-50
                                </option>
                                <option value="50+" {{#ifCond size '===' '50+'}}selected{{/ifCond}}>50+</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">About company <span
                                class="fade_txt">(Optional)</span></label>
                        <div class="box_sec">
                            <input type="text" class="form-control js_about_company" placeholder="Type here"
                                   value="{{this.about}}">
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Benefits</label>
                        <div class="box_sec">
                            <select multiple="multiple"
                                    class="form-control required js_company_benefit">
                                {{#each ../benefits}}
                                    {{#checkArrayOfObjectVal id ../company_benefits}}
                                        <option value="{{id}}" selected>{{name}}</option>
                                    {{else}}
                                        <option value="{{id}}">{{name}}</option>
                                    {{/checkArrayOfObjectVal}}
                                {{/each}}
                            </select>
                            <!--<div class="icon_wrap">-->
                            <!--<img src="/img/icons/plus-green.svg" alt="" class="icon_sec">-->
                            <!--</div>-->
                        </div>
                    </div>
                    <div class="form-group pixl_form_group">
                        <label class="control-label">Email for candidates</label>
                        <div class="box_sec">
                            <input type="email" class="form-control required js_email" value="{{this.email}}"
                                   placeholder="careers@pixlcoders.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Mobile</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box_sec">
                                            <select class="form-control required js_select2 js_com_mobile_code">
                                                <option value="">Select</option>
                                                {{#each ../country_code}}
                                                    <option value="{{code}}"
                                                        {{#ifCond ../mobile_code '===' code}}
                                                            selected
                                                        {{/ifCond}}>
                                                        {{name}} {{code}}
                                                    </option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_com_mobile"
                                                   value="{{mobile_number}}"
                                                   autocomplete="nope" placeholder="Your 10 digit mobile No.">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Land Line</label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_com_phone_code"
                                                   value="{{phone_code}}" style="padding: 0 15px;"
                                                   autocomplete="nope" placeholder="Code">
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="box_sec">
                                            <input type="text" class="form-control required js_com_phone_number"
                                                   value="{{phone_number}}"
                                                   autocomplete="nope" placeholder="Land Line Number">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Street</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_street"
                                           autocomplete="nope"
                                           value="{{this.street}}"
                                           placeholder="Enter street">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Area</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_area"
                                           autocomplete="nope"
                                           value="{{this.area}}"
                                           placeholder="Enter area">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">City</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_city"
                                           autocomplete="nope"
                                           value="{{this.city}}"
                                           placeholder="Enter city">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">State</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_state"
                                           autocomplete="nope"
                                           value="{{this.state}}"
                                           placeholder="Enter state">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Country</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_country"
                                           autocomplete="nope"
                                           value="{{this.country}}"
                                           placeholder="Enter country">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group pixl_form_group">
                                <label class="control-label">Pin Code</label>
                                <div class="box_sec">
                                    <input type="text" class="form-control required js_pin"
                                           autocomplete="nope"
                                           value="{{this.pin}}"
                                           placeholder="Enter pin">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cta_wrap">
                        <button class="btn btn_big btn_preview">ClOSE</button>
                        <button class="btn btn_big btn_blue" type="submit">
                            SAVE
                            <img src="/img/icons/tick.svg" alt="" class="tick_icon">
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/each}}