<form class="form_sec" id="jsJobCompanyForm">
    <div class="form-group pixl_form_group">
        <label class="control-label">URL to your offer</label>
        <div class="box_sec">
            <input type="text" class="form-control required js_company_url" placeholder="Paste here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Name</label>
        <div class="box_sec">
            <input type="text" class="form-control required js_company_name" placeholder="Type here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Logo</label>
        <div class="box_sec upload_sec {{#if data.logo}}preview{{/if}}">
            <div class="file_txt_wrap">
                <img src="/img/icons/upload-doc.svg" alt="" class="icon_sec">
                <span>Drag & drop image or </span>
                <a class="upload_txt">Upload file</a>
            </div>
            <div class="file_preview_txt_wrap">
                <img src="/api/companies/photo/{{data.logo}}" class="icon_sec js_company_logo_preview">
                <div class="file_name">{{#truncateTextSpace data.name 10}}{{/truncateTextSpace}}.{{#getFileExtension
                        data.logo}}{{/getFileExtension}}</div>
            </div>
            <input type="file" class="input_file js_input_c_logo_file" accept="image/*">
            <span class="fa fa-times close_icon js_remove_file"></span>
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Industry <span
                class="fade_txt">(Optional)</span></label>
        <div class="box_sec">
            <select class="form-control required js_industry js_select2">
                <option value="">Select a domain</option>
                {{#each industries}}
                    {{#ifCond ../data.industry_id '===' this.id}}
                        <option value="{{this.id}}" selected>{{this.name}}</option>
                    {{else}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/ifCond}}
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Size <span
                class="fade_txt">(No. of employees)</span></label>
        <div class="box_sec">
            <select class="form-control required js_company_size js_select2">
                <option value="select">Select Range</option>
                <option value="1-10" {{#ifCond data.size '===' '1-10'}}selected{{/ifCond}}>1-10</option>
                <option value="11-20" {{#ifCond data.size '===' '11-20'}}selected{{/ifCond}}>11-20</option>
                <option value="30-50" {{#ifCond data.size '===' '30-50'}}selected{{/ifCond}}>30-50</option>
                <option value="50+" {{#ifCond data.size '===' '50+'}}selected{{/ifCond}}>50+</option>
            </select>
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">About company <span
                class="fade_txt">(Optional)</span></label>
        <div class="box_sec">
            <input type="text" class="form-control js_about_company" placeholder="Type here" value="">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Benefits</label>
        <div class="box_sec">
            <select multiple="multiple"
                    class="form-control required js_company_benefit">
                {{#each benefits}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Email for candidates</label>
        <div class="box_sec">
            <input type="email" class="form-control required js_candidate_email"
                   placeholder=" careers@pixlcoders.com">
        </div>
    </div>
    <div class="form-group pixl_form_group">
        <label class="control-label">Company Address</label>
        <div class="box_sec">
            <input type="text" class="form-control required" id="glAdAddress"
                   autocomplete="nope" placeholder="Enter address">
        </div>
    </div>
    <input type="hidden" class="js_street">
    <input type="hidden" class="js_area_in">
    <input type="hidden" class="js_area">
    <input type="hidden" class="js_locality">
    <input type="hidden" class="js_city">
    <input type="hidden" class="js_state">
    <input type="hidden" class="js_country">
    <input type="hidden" class="js_postal_code">
    <input type="hidden" class="js_place_id">
    <input type="hidden" class="js_full_address">
</form>