{{#each data}}
    <a class="card_sec {{#ifDateDiff created_at 3}}new_card{{/ifDateDiff}}" href="/job-info/{{this.id}}">
        <div class="new_sec">
            <span class="fa fa-certificate"></span>
            <span class="new_txt">NEW</span>
        </div>
        {{#if company.logo}}
            <img src="/api/companies/photo/{{company.logo}}" class="c_logo">
        {{else}}
            <img src="/img/icons/dummy_company.svg" class="c_logo">
        {{/if}}
        <div class="row">
            <div class="col-md-6">
                <div>
                    <span class="title">{{name}}</span>
                    <span class="sub_title">{{company.name}}</span>
                </div>
                <div class="tags_wrap">
                    {{#each qa_job_technologies}}
                        <span>{{technology.name}}</span>
                    {{/each}}
                </div>
            </div>
            <div class="col-md-6">
                <div class="cta_wrap">
                    <div class="btn btn_blue">FRONTEND</div>
                </div>
                <div class="job_details_wrap">
                    <div class="info_sec">
                        <img src="/img/icons/clock.svg" alt="" class="icon_sec">
                        <span class="txt_sec">{{#countDateTime created_at}}{{/countDateTime}}</span>
                    </div>
                    <div class="info_sec">
                        <img src="/img/icons/dollar-grey.svg" class="icon_dollar_sec">
                        <span class="txt_sec">
                            {{#ifCond  salary_min '===' '0'}}
                                {{#formatCurrency salary_max}}{{/formatCurrency}}
                            {{else}}
                                {{#formatCurrency salary_min}}{{/formatCurrency}} - {{#formatCurrency salary_max}}{{/formatCurrency}}
                            {{/ifCond}}
                        </span>
                    </div>
                    <div class="info_sec {{#if company.city}}{{else}}hide{{/if}}">
                        <img src="/img/icons/location-dark.svg" alt="" class="icon_marker_sec">
                        <span class="txt_sec city_txt">{{company.city}}</span>
                    </div>
                </div>
            </div>
        </div>
    </a>
{{else}}
    <h4 class="text-center text-capitalize">NO DATA FOUND!</h4>
{{/each}}